{% extends "base.html" %}
{% load static %}
{% block content %}
       <!-- blog-area start -->
        <div class="blog-details-area bg-1">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-xs-12">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="blog-wrap">
                                    <div class="blog-img">
                                        <img src="{{ drawing.thumbnail.url }}" alt="">
                                    </div>
                                    <div class="blog-content">
                                        <ul class="blog-meta">
                                            <li><a href="#"><i class="fa fa-clock-o"></i>{{ drawing.timestamp }}</a></li>
                                        </ul>
                                        <h3>{{ drawing.title }}</h3>
                                    </div>
                                </div>
                                <div class="blog-details-wrap">
                                    <p>{{ drawing.overview }}</p>

                                    <div class="socila-link">
                                        <ul>
                                            <li>Share :</li>
                                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                            <li><a href="#"><i class="fa fa-vimeo"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12 col-sm-6">
                        <aside class="sidebar-wrap">
                            <div class="search-wrap widget">
                                <form action="#">
                                    <input type="text" placeholder="Search...">
                                    <button><i class="fa fa-search"></i></button>
                                </form>
                            </div>
                            <div class="widget sidebar-menu">
                                <h3 class="widget-title">Categories</h3>
                                <ul>
                                    <li><a href="#">Tattooing</a></li>
                                    <li><a href="#">Tattoo Design</a></li>
                                    <li><a href="#">Tattoo Removal</a></li>
                                    <li><a href="#">Piercing</a></li>
                                    <li><a href="#">Laser Removal</a></li>
                                    <li><a href="#">Henna Design</a></li>
                                </ul>
                            </div>
                            <div class="widget sidebar-menu">
                                <h3 class="widget-title">Archive</h3>
                                <ul>
                                    <li><a href="#">June 2017</a></li>
                                    <li><a href="#">July 2017</a></li>
                                    <li><a href="#">August 2017</a></li>
                                    <li><a href="#">September 2017</a></li>
                                    <li><a href="#">October 2017</a></li>
                                    <li><a href="#">November 2017</a></li>
                                </ul>
                            </div>
                            <div class="widget recent-post">
                                <h3 class="widget-title">Recent News</h3>
                                <ul>
                                    <li>
                                        <div class="post-img">
                                            <img src="{% static 'assets/images/post/1.jpg' %}" alt="">
                                        </div>
                                        <div class="post-content">
                                            <a href="#">Vivamus ut mauris a dui fringilla mattis a sit amet lectus.</a>
                                            <p>20 JUN 2017</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="post-img">
                                            <img src="{% static 'assets/images/post/2.jpg' %}" alt="">
                                        </div>
                                        <div class="post-content">
                                            <a href="#">Nam lacus dolor, egestas eget ultrices sed, congue eget lorem.</a>
                                            <p>15 JUN 2017</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="post-img">
                                            <img src="{% static 'assets/images/post/3.jpg' %}" alt="">
                                        </div>
                                        <div class="post-content">
                                            <a href="#">Mauris vel ullamcorper mauris, eu faucibus est.</a>
                                            <p>12 JUN 2017</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="widget tag-wrap">
                                <h3 class="widget-title">Tags</h3>
                                <ul>
                                    <li><a href="#">html</a> </li>
                                    <li><a href="#">css</a> </li>
                                    <li><a href="#">tottoos</a> </li>
                                    <li><a href="#">front end</a> </li>
                                    <li><a href="#">back end</a> </li>
                                    <li><a href="#">responsive</a> </li>
                                    <li><a href="#">photoshop</a> </li>
                                    <li><a href="#">bootstrap</a> </li>
                                    <li><a href="#">html5</a> </li>
                                    <li><a href="#">css3</a> </li>
                                </ul>
                            </div>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
        <!-- blog-area end -->
{% endblock content %}