{% extends "base.html" %}
{% load static %}
{% block content %}
        <!-- blog-area start -->
        <div class="blog-area bg-1">
            <div class="container">
                <div class="row">
                    {% for drawing in queryset %}
                    <div class="col-xs-12 col-md-4 col-sm-6">
                        <div class="blog-wrap">
                            <div class="blog-img">
                                <img src="{{ drawing.thumbnail.url }}" alt="">
                            </div>
                            <div class="blog-content">
                                <ul class="blog-meta">
                                    <li><a href="#"><i class="fa fa-clock-o"></i>{{ drawing.timestamp }}</a></li>
                                </ul>
                                <h3><a href="{{ drawing.get_absolute_url }}">{{ drawing.title }}</a></h3>
                                <p>{{ drawing.overview }}</p>
                                <a href="blog-details.html">Read More <i class="fa fa-long-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                    <div class="col-xs-12">
                        {% if queryset.has_other_pages %}
								<ul class="pagination ">
									{% if queryset.has_previous %}
									<li><a href="?page={{ queryset.previous_page_number }}">&laquo;</a></li>
									{% else %}
									<li class="disabled"><a>&laquo;</a></li>
									{% endif %}
									{% for i in queryset.paginator.page_range %}
									{% if queryset.number == i %}
									<li class="active"><a href="?page={{ i }}">{{ i }}</a></li>
									{% else %}
									<li><a href="?page={{ i }}">{{ i }}</a></li>
									{% endif %}
									{% endfor %}
									{% if queryset.has_next %}
									<li><a href="?page={{ queryset.next_page_number }}">&raquo;</a></li>
									{% else %}
									<li class="disabled"><a>&raquo;</a></li>
									{% endif %}
								</ul>
								{% endif %}
                    </div>

                </div>
            </div>
        </div>
        <!-- blog-area end -->
{% endblock content %}