 {% load static %}
     <!-- slider-area start -->
        <div class="slider-area">
            <div class="slider-active">
                <div class="slider-items">
                    <img src="{% static 'assets/images/slider/1.jpg' %}" alt="slider" class="slider">
                    <div class="single-slider">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-7 col-sm-10 col-xs-12">
                                    <h2>We Provide Forever.</h2>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus congue porttitor felis, iaculis consectetur tortor varius vitae. </p>
                                    <a href="#">Book Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slider-items">
                    <img src="{% static 'assets/images/slider/2.jpg' %}" alt="slider" class="slider">
                    <div class="single-slider single-slider2">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-offset-2 col-sm-10 col-xs-12 col-md-7 col-md-offset-5 text-right">
                                    <h2>We Provide Forever.</h2>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus congue porttitor felis, iaculis consectetur tortor varius vitae. </p>
                                    <a href="#">Book Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slider-items">
                    <img src='{% static "assets/images/slider/3.jpg" %}' alt="slider" class="slider">
                    <div class="single-slider">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-7 col-sm-10 col-xs-12">
                                    <h2>We Provide Forever.</h2>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus congue porttitor felis, iaculis consectetur tortor varius vitae. </p>
                                    <a href="#">Book Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- slider-area end -->